/* Styles spécifiques pour la page catalogue */

html{
    scroll-behavior: smooth;
}

body {
    background-color: #252525;
}
h1 {
    padding-top:50px;
    width: 90%;
    font-size: 4em;
    color:#ffffff;
    font-weight: 900;
    text-align: center;
    margin: auto;
}

.nav-catalogue {
    width: 90%;
    display: flex;
  align-items: center;
  justify-content: center;
  margin:30px;

}
.nav-catalogue ul {
    width: 60%;
    columns:2;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.nav-catalogue li {
    color: white;
    border-color: aliceblue;
    border: 2px solid;
padding: 8px;
margin-bottom: 10px; 
    border-radius: 5px;
    width: auto;
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    text-justify: center;
    list-style: none;
    
}
.nav-catalogue li :visited {
    color: white;
}
.nav-catalogue li :hover {
    font-weight: 900;
}
.texte {
    width: 100%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    color: #ffffff;
}


.catalogue h2 {
    font-size: 3rem;
    font-weight: 800;
    color: white;
    text-justify: left;
    margin-top: 40px;
    margin-inline-start: 60px;
}
.catalogue p {
    color:#ffffff;
    font-size: 1.5rem;
    width: 90%;
    text-align: left;
    padding-left: 10%;
}
.texte h3 { 
    font-size: 2em;
    font-weight: 600; 
    color:#252525;  
}

.texte p {
    font-size: 1em;
    max-width: 80%;
    color: #252525;

}

.catalogue {
    justify-items: center;

    background-color: #252525;
}
.premier {
    background-color: #4D59D6;
    border-radius: 5px;
    columns: 2;
    width: 100%;
    padding : 40px;
    justify-items: center;
    text-align: center;
    align-items: center;
}

.premier img{
    object-fit: cover;
    max-width: 80%;
    margin: 5%;
    margin-left: 130px;
}

.premier h2 {
    color:#ffffff;
    font-size: 3rem;
    font-size: 800;
    padding-top: 100px;
    margin: 20px;
    align-content: center;
}

.premier p {
    padding-left: 40px;
    color:white;
    justify-content: center;
    margin-bottom: 40px;
} 
.buy-button {
    padding : 10px 40px;
    font-size: 2rem;
    background-color: #ffffff;
    color: #4D59D6;
    border-radius: 5px;
}
.buy-button:hover {
    font-weight: 800;
    color: #4d59d6;
}


.container {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    margin:auto;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    object-fit: contain;
    gap: 10px;

}

.article {
    background-color: #ffffff;
    border-radius: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: 280px;
    max-width: 450px;
    display:flex;
    text-align:left;
    justify-content: center;

}
.article img {
    object-fit: cover;
    max-height: 80%;
    margin: 5%;
    border-radius: 5px;
}

.bg-blur{
    object-fit:fill;
}

a:hover {
    text-decoration: underline;
    color: #4D59D6;
}
a:link{
    text-decoration: none;

}
a:visited{
text-decoration: none;
}
