/* Styles spécifiques pour la page d'accueil */


section {
    padding:100px;
    margin: 50px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width:800px; 

}

.bloc2 {

}
.bloc2 h2 {
    font-weight: 900;
    text-align: center;
    color :#4D59D6;
    font-size: 3em;
    margin: 10px;
    padding: 10px;
}
.dessin{ 
    display: flex;
    margin: auto;
    height:fit-content;
    border-radius: 5px;

}

.mouche {
    display:flex;
    margin: auto;
    height: auto;
    position: absolute;
}

section h2 {
    color: #4D59D6;
    margin-bottom: 15px;
    text-align: left;
    font-size: 2em;
    
}

section p {
    margin-bottom: 10px;
    color: #4D59D6;
    text-align: left;
}

/* Vidéo et figure */
figure {
    text-align: center;
    margin-top: 15px;
}

video {
    width: 100%;
    max-width: 600px;
    height: auto;
    border: 2px solid #4CAF50;
    border-radius: 5px;
}

figcaption {
    font-size: 0.9rem;
    color: #666;
    margin-top: 8px;
}

#bouton  {
    color:#fff;
    text-align: center;
    text-decoration:none;
    background-color: #4D59D6;
    width: 300px;
    margin: 50px;
    padding: 20px;
    border-radius: 100px;
    padding-top: 20px;
    height: auto;
    font-size: larger;
}

#bouton:hover {
    text-decoration: none;
    background-color:#C2C7FA;
    color:#4D59D6;
}