.content-container {
    display: flex;
    justify-content: space-between; 
    margin: 50px;
    flex-wrap: wrap;  
}

section {
    padding: 50px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
    width: 48%;
    height: 500px; 
}

iframe {
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 48%; 
    height: 500px;
}

h2 {
    color: white;
}

/* Bloc 2 */
.bloc2 {
    width: 100%; 
    margin-top: 50px;  
}

.bloc2 h2 {
    font-weight: 900;
    text-align: center;
    color: #0013e0;
    font-size: 3em;
    margin: 10px;
    padding: 10px;
}

.dessin {
    position: relative;
    display: flex;
    margin: auto;
    height: auto;
    width: 100%;   
    height: auto;  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mouche {
    display: flex;
    margin: auto;
    height: auto;
    position: absolute;
}

section h2 {
    color: #4D59D6;
    margin-bottom: 15px;
    text-align: left;
    font-size: 2em;
}

section p {
    margin-bottom: 10px;
    color: #4D59D6;
    text-align: left;
}

/* Vidéo et figure */
figure {
    text-align: center;
    margin-top: 15px;
}

figcaption {
    font-size: 0.9rem;
    color:#252525;
    margin-top: 8px;
}

.text {
    margin-bottom: 50px;
}

.bouton {
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #4D59D6;
    width: 300px;
    margin: 50px;
    padding: 20px;
    border-radius: 5px;
    font-size: larger;
    height: auto;
    transition: background-color 0.3s ease;
}

.bouton:hover {
    text-decoration: none;
    background-color: #C2C7FA;
    color: #4D59D6;
}

@media screen and (max-width: 1140px) {
    .content-container {
        flex-direction: column; 
        align-items: center;    
        margin: 20px;     
    }

    section {
        width: 90%;   
        margin-bottom: 20px;  
        padding: 30px;   
    }

    .bouton {
        width: 80%;  
        font-size: 1.2em;  
        padding: 15px;   
        margin: 20px 0;   
    }

    .dessin {
        width: 100%;   
        max-width: 100%;  
        height: auto;  
    }
}

.slider-container {
    position: relative;
    width: 100vw; /* La largeur prend toute la vue */
    height: 100vh; /* La hauteur prend toute la vue */
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 1s ease-in-out;  /* Transition plus lente (1 seconde) */
    width: 100%;
    height: 100%;
}

.slide {
    position: relative;
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assure que l'image couvre toute la largeur et la hauteur */
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
    /* text-shadow retiré */
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    font-size: 1.5rem;
}

.prev {
    left: 5%;
    border-radius: 100%;
}
.prev img {
    width: 40px;
    height: 40px;
    transition: transform 1s;
}

.prev img:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.5);
}

.next {
    right: 5%;
    border-radius: 100%;
}

.next img {
width: 40px;
height: 40px;
  transition: transform 1s;
}
.next img:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.5);
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    
}


.followbut {
    position: absolute;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #4D59D6;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    display: none; /* Caché par défaut */
    pointer-events: none; /* Désactive les clics */
}

.followbut:hover {
    background-color: #3b47b2;
}

.anchor {
    position: absolute;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #4D59D6;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    display: none; /* Caché par défaut */
    pointer-events: auto; /* L'ancre doit accepter les clics */
    transition: left 0.1s ease, top 0.1s ease;

} 

.bloc2 {
    position: relative;
}

.bloc2 h2 {
    font-size: 2rem;
    color: white;
}

.bloc2 img {
    max-width: 100%;
}

@media (max-width: 768px) {
    h2 {
        font-size: 2rem; /* Réduit la taille du texte sur mobile */
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.5rem; /* Encore plus petit sur les très petits écrans */
    }
}

.marge {
    padding: 0;
    margin: 0;
}