header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

main {
  max-width: 1200px;
  margin: 20px auto;
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Conteneur du panier */
.cart-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: rgb(79, 79, 79);
  border-radius: 8px;
  box-shadow: 0 0px 10px 5px #7883F3;
  margin-top: 10px;
}

.product-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.product-image {
  width: 80px;
  height: auto;
  border-radius: 8px;
}

.product-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

.product-size,
.product-price,
.product-subtotal {
  margin: 5px 0;
  color: #fff;
}

.quantity-controls {
  display: flex;
  gap: 10px;
}

.quantity-increase,
.quantity-decrease {
  padding: 5px 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.quantity-increase:hover,
.quantity-decrease:hover {
  background-color: #0056b3;
}

.product-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.remove-item {
  padding: 8px 15px;
  background-color: #ff3e28;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.remove-item:hover {
  background-color: #ff3e28;
}

/* Total du panier */
.cart-total {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  background-color: #333;
  border-radius: 8px;
}

/* Bouton pour vider le panier */
.clear-cart-form {
  text-align: center;
  margin-top: 20px;
}

.clear-cart-button {
  padding: 10px 20px;
  background-color: rgb(103, 225, 103);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.clear-cart-button:hover {
  background-color: rgb(103, 225, 103);
}

.clear {
  padding: 10px 20px;
  background-color: #ec1717;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.clear:hover {
  background-color: #218838;
}


/* Message de confirmation */
.message {
  color: rgb(103, 225, 103);
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}
