/* Styles spécifiques pour la page produit */
.product-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #ddd; /* Optionnel pour visualiser l'espace */
}

.product-image {
    flex: 1; /* Permet à l'image de prendre l'espace nécessaire */
}

.product-image img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-info {
    flex: 2; /* Assure que le texte prend plus de place */
    text-align: right; /* Aligne tout à droite */
}

.product-info h2 {
    font-size: 2rem; /* Plus grand pour correspondre à l'image */
    margin-bottom: 10px;
    color: #000; /* Noir pour un meilleur contraste */
    font-family: 'Arial Black', sans-serif; /* Correspond à un style similaire */
}

.product-info p {
    font-size: 1.2rem;
    color: #666;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aligne le formulaire à droite */
}

.add-to-cart-button {
    margin-top: 20px;
    padding: 10px 25px;
    font-size: 1.1rem;
    background-color: #7883F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
    background-color: #C2C7FA;
}

.size-options {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.size-button {
    padding: 10px 15px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.size-button:hover {
    background-color: #d0d0d0;
}

.size-button.selected {
    background-color: #7883F3;
    color: white;
    border-color: #4b5bdc;
}

#add-to-cart:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
