/* Styles spécifiques pour la page produit */
.product-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 20px;
    max-width: 1800px;
    margin: 0 auto;
    margin-top: 1rem;
}

.product-image {
    flex: 1; 
}

.product-image img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.product-info {
    flex: 2; 
    text-align: center; 
}

.product-info h2 {
    font-size: 3rem; 
    margin-bottom: 50px;
    color: #000; 
    font-family: 'Arial Black', sans-serif;
}

.product-info p {
    font-size: 1.3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    color: #3a3a3a;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-to-cart-button {
    margin-top: 20px;
    padding: 10px 25px;
    font-size: 1.1rem;
    background-color: #7883F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
    background-color: #C2C7FA;
}

.size-options {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.size-button {
    padding: 10px 15px;
    background-color: #e8e9f8;
    border: 6px solid #ccc;
    border-radius: 20px;
    font-size: medium;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.size-button:hover {
    background-color: #C2C7FA;
    border-color: #e6a904;
}

.size-button.selected {
    background-color: #7883F3;
    color: white;
    border-color: #e6a904;
}

#add-to-cart:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/*test*/
.black-section {
    width: 100%;
    height: 70vh;
    background-color: #bdbdbd; 
}

.stats h2 {
    font-size: 2rem; 
    color: #000;
    font-family: 'Arial Black', sans-serif;
    text-align: center;
}

.etoiles {
    text-align: center;
    color: #7883F3;
    font-size: 5rem;
}